h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: mono45-headline, monospace;
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gradient {
  object-fit: cover;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.intro {
  position: relative;
  height: 1000px;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.header-text {
  position: relative;
}

.experience {
  height: 700px;
  overflow: scroll;
}

.projects > img {
  max-height: 250px;
  width: auto;
}
