:root {
  --special-font: "Josefin Sans", sans-serif;
  --plain-font: "Raleway", sans-serif;
}
.navbar {
  color: #f6eee3;
}
.navbar-brand {
  font-family: var(--special-font);
  font-weight: 600;
}
body {
  font-family: var(--plain-font);
  background-color: #f6eee3;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--special-font);
  text-align: center;
}

.intro {
  margin: 40px 150px 0px;
  display: flex;

  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.intro h1 {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
}
.intro h2 {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 0px;
}
.intro h3 {
  font-family: var(--plain-font);
  font-weight: 700;
}
.intro span {
  text-align: center;
  max-width: 800px;
}
.btn-contact {
  border: 3px black;
  border-style: solid none;
  color: black;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
  text-align: center;
}

main a:hover {
  color: #f6eee3;
  background: black;
}

.homepage-content h2 {
  font-size: 40px;
}
.btn-page {
  border: 5px solid black;
  color: black;
  font-weight: 700;
  font-size: 40px;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  width: 150px;
  transition: all 200ms ease-in-out;
}
.homepage-content img {
  width: 400px;
  padding: 5px;
}

.title {
  margin-top: 40px;
  font-size: 60px;
}
.project-picture {
  width: 400px;
  position: relative;
  top: 30px;
}
.btn-launch-project {
  font-family: var(--special-font);
  font-size: 40px;
  font-weight: 800;
  position: relative;
  bottom: 150px;
  padding: 61.5px 111.5px;
  color: rgba(0, 0, 0, 0);
}
.btn-launch-project:hover {
  background: rgba(255, 255, 255, 0.75);
}

.profile-picture {
  width: 250px;
  border-radius: 50%;
  float: left;
  padding: 10px;
}
.bio h2 {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 20px;
}
.bio h3 {
  text-align: left;
  text-decoration: underline;
}
.experience ul {
  padding: 5px;
}
.experience li {
  list-style-type: none;
}
.experience h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
}
.experience h5 {
  font-weight: 300;
}
.statement {
  margin: 25px 0px 25px;
  font-weight: 600;
  font-size: 16px;
  text-align: justify;
}
.skills li {
  padding: 3px 0px;
  font-size: 18px;
  font-weight: 500;
}
.description {
  margin-bottom: 10px;
}
.description li {
  list-style-type: circle;
  font-size: 14px;
}

@media (max-width: 600px) {
  .intro {
    margin: 40px 10px 0px;
  }

  .homepage-content img {
    display: none;
  }

  .profile-picture {
    width: 150px;

    float: none;
  }
  .statement {
    font-size: 16px;
  }
  .bio-info {
    flex-direction: column;
    display: flex;
    text-align: center;
  }
  .bio h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  .bio ul {
    list-style-type: none;
    padding: 0px;
  }
  .work-description {
    display: none;
  }
}

footer {
  background-color: #212529;

  margin-top: 40px;
  padding: 10px;
  font-size: 20px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer a {
  color: #f6eee3;
}
footer a:hover {
  background-color: none;
  color: #f6eee3;
}
